<nav>
  <ul>
    
    <li><%=link_to "Home", root_path %></li>
    <li><%=link_to "News", news_path %></li>
    <li><%=link_to "What we do", what_we_do_path %></li>
    <li><%=link_to "What's on", whats_on_path %></li>
    <li><%=link_to "Shop", shop_path %></li>
    <li><%=link_to "Contact", contact_path %></li>
    
  </ul>
</nav>    